<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.speedshare.cordova.video"
    version="1.0.0">

    <name>SpeedshareCordovaPlugin</name>
    <description>Add live video streaming to your Cordova Application</description>
    <license>Apache 2.0</license>
    <keywords>Speedshare</keywords>

    <js-module src="www/speedshareVideo.js" name="speedshare">
      <clobbers target="com.speedshare.cordova.video" />
    </js-module>

    <!-- ios -->
    <platform name="ios">
      <hook type="before_plugin_install" src="scripts/ios_before_plugin_install.js" />

      <header-file src="src/ios/SpeedsharePlugin.h" />
      <source-file src="src/ios/SpeedsharePlugin.m" />

      <header-file src="src/ios/VideoKit/Controller/VKPlayerController.h" />
      <source-file src="src/ios/VideoKit/Controller/VKPlayerController.m" compiler-flag="-fno-objc-arc" />

      <header-file src="src/ios/VideoKit/Core/VKAVDecodeManager.h" />
      <source-file src="src/ios/VideoKit/Core/VKAVDecodeManager.m" compiler-flags="-fno-objc-arc" />

      <header-file src="src/ios/VideoKit/Core/VKAudioDecoder.h" />
      <source-file src="src/ios/VideoKit/Core/VKAudioDecoder.m" compiler-flags="-fno-objc-arc" />

      <header-file src="src/ios/VideoKit/Core/VKQueue.h" />
      <source-file src="src/ios/VideoKit/Core/VKQueue.m" compiler-flags="-fno-objc-arc" />

      <header-file src="src/ios/VideoKit/Core/VKVideoDecoder.h" />
      <source-file src="src/ios/VideoKit/Core/VKVideoDecoder.m" compiler-flags="-fno-objc-arc" />

      <header-file src="src/ios/VideoKit/Core/VKDecoder.h" />
      <source-file src="src/ios/VideoKit/Core/VKDecoder.m" compiler-flags="-fno-objc-arc" />

      <header-file src="src/ios/VideoKit/Core/VKVideoFrame.h" />
      <source-file src="src/ios/VideoKit/Core/VKVideoFrame.m" compiler-flags="-fno-objc-arc" />

      <header-file src="src/ios/VideoKit/Core/VKRecorder.h" />
      <source-file src="src/ios/VideoKit/Core/VKRecorder.m" compiler-flags="-fno-objc-arc" />

      <source-file src="src/ios/VideoKit/Core/VKManager.a" compiler-flags="-fno-objc-arc" />

      <header-file src="src/ios/VideoKit/ViewController/VKPlayerViewController.h" />
      <source-file src="src/ios/VideoKit/ViewController/VKPlayerViewController.m" compiler-flags="-fno-objc-arc" />

      <header-file src="src/ios/VideoKit/Views/VKGLES2View.h" />
      <source-file src="src/ios/VideoKit/Views/VKGLES2View.m" compiler-flags="-fno-objc-arc" />

      <header-file src="src/ios/VideoKit/Views/VKStreamInfoView.h" />
      <source-file src="src/ios/VideoKit/Views/VKStreamInfoView.m" compiler-flags="-fno-objc-arc" />

      <resource-file src="src/ios/VideoKit/VKImages.bundle" />

      <info>

        Manual setup of the 'Header Search Paths' is required.

      </info>

      <framework src="libiconv.dylib" />
      <framework src="libz.dylib" />
      <framework src="Accelerate.framework" />
      <framework src="AVFoundation.framework" />
      <framework src="SystemConfiguration.framework" />
      <framework src="MediaPlayer.framework" />
      <framework src="AudioToolbox.framework" />
      <framework src="OpenGLES.framework" />
      <framework src="QuartzCore.framework" />
      <framework src="UIKit.framework" />
      <framework src="Foundation.framework" />
      <framework src="CoreGraphics.framework" />

      <!-- Adopts project's config.xml to include the SpeedshareCordovaPlugin and domain whitelists -->

      <config-file target="config.xml" parent="/*">
          <feature name="SpeedsharePlugin">
              <param name="ios-package" value="SpeedsharePlugin"/>
          </feature>
      </config-file>
      <config-file target="config.xml" parent="/*">
        <access origin="*" />
      </config-file>
    </platform>
</plugin>
